[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arxiv-base = "==0.15.7rc9"
flask = "*"
"nose2" = "*"
flask-sqlalchemy = "*"
pylint = "*"
mypy = "*"
requests = "*"
uwsgi = "*"
pyjwt = "*"
jsonschema = "*"
celery = "*"
redis = "*"
arxiv-auth = "==0.3.4rc1"
mysqlclient = "==1.4.2"
arxiv-vault = "==0.0.17"

[dev-packages]
coveralls = "*"

[requires]
python_version = "3.6"
