[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arxiv-base = "==0.7.1"
flask = "*"
"nose2" = "*"
flask-sqlalchemy = "*"
pylint = "*"
mypy = "*"
requests = "*"
uwsgi = "*"
pyjwt = "*"
jsonschema = "*"
celery = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.6"
